* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8fafc;
  color: #1e293b;
}

:root {
  --blue-dark: #1e3a8a;
  --blue: #2563eb;
  --blue-light: #60a5fa;

  --orange: #f97316;
  --orange-light: #fdba74;

  --text-dark: #1e293b;
  --text-light: #475569;
  --white: #ffffff;
}

.topBar {
  width: 100%;
  padding: 1.25rem 3.125rem;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.25rem 0.75rem #0000000a;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--blue-dark);
}

.links {
  display: flex;
  gap: 1.875rem;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blue-dark);
  transition: 0.2s;
}

.link:hover {
  color: var(--blue);
}

.btnPrimary {
  padding: 1rem 2rem;
  background: var(--orange);
  border: none;
  border-radius: 0.625rem;
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btnPrimary:hover {
  background: var(--orange-light);
}

footer {
  padding: 1.563rem 0;
  background: var(--blue-dark);
  text-align: center;
  color: var(--white);
  margin-top: 2.5rem;
}

.topBar {
  padding: 1.25rem;
}

.professor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.title {
  font-size: 1.6rem;
  color: var(--blue-dark);
}

.information {
  color: var(--text-light);
}

.numberContact {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.icon {
  width: 1.4rem;
  margin-left: 0.3rem;
}

.number {
  text-decoration: none;
  color: var(--text-dark);
}

.linkContact {
  text-decoration: none;
  display: flex;
  align-items: center;
}
