* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8fafc;
  color: #1e293b;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --blue-dark: #1e3a8a;
  --blue: #2563eb;
  --blue-light: #60a5fa;

  --orange: #f97316;
  --orange-light: #fdba74;

  --text-dark: #1e293b;
  --text-light: #475569;
  --white: #ffffff;
}

.topBar {
  width: 100%;
  padding: 0.4rem;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.25rem 0.75rem #0000000a;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--blue-dark);
}

.links {
  display: flex;
  gap: 1.875rem;
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blue-dark);
  transition: 0.2s;
}

.link:hover {
  color: var(--blue);
}

.imgLogo {
  display: flex;
  width: 5rem;
}

.developBy {
  margin-top: 0.5rem;
  color: var(--white);
}

.icon {
  width: 2rem;
  cursor: pointer;
  transition: transform 0.4s;
}

.icon:hover {
  transform: scale(1.2);
}

footer {
  padding: 1.563rem 0;
  background: var(--blue-dark);
  text-align: center;
  color: var(--white);
  margin-top: 1rem;
}

.classes {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.listClasses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid var(--orange);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 25rem;
  transition: all 0.3s ease;
}

.itemList {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 1rem;
  color: var(--blue-dark);
  position: relative;
}

.titleClasses {
  margin-bottom: 1rem;
  color: var(--blue);
  font-weight: 900;
  font-size: 3rem;
}

.information {
  margin-bottom: 1.7rem;
  font-weight: 700;
  color: var(--text-light);
  cursor: pointer;
  transition: transform 0.4s;
  font-size: 1.5rem;
}

.information:hover {
  transform: scale(1.2);
}

.informationLink {
  text-decoration: none;
}

.iconPlus {
  width: 1.5rem;
  cursor: pointer;
}

.description {
  display: none;
  margin-top: 0.5rem;
  color: var(--text-light);
  font-weight: 500;
  background-color: #aeb1b6;
  padding-left: 0.5rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  width: 100%;
  color: var(--white);
}
