* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8fafc;
  color: #1e293b;
  display: flex;
  flex-direction: column;
}

:root {
  --blue-dark: #1e3a8a;
  --blue: #2563eb;
  --blue-light: #60a5fa;

  --orange: #f97316;
  --orange-light: #fdba74;

  --text-dark: #1e293b;
  --text-light: #475569;
  --white: #ffffff;
}

.topBar {
  width: 100%;
  padding: 0.4rem;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.25rem 0.75rem #0000000a;
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--blue-dark);
}

.links {
  display: flex;
  gap: 1.875rem;
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blue-dark);
  transition: 0.2s;
}

.link:hover {
  color: var(--blue);
}

.mainPage {
  padding: 5rem 3.125rem;
}

.containerOne {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.9rem;
}

.mainPageText {
  max-width: 31.25rem;
}

.title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--blue-dark);
}

.text {
  font-size: 1.125rem;
  color: var(--text-light);
  margin-bottom: 1.563rem;
}

.btnPrimary {
  padding: 1rem 2rem;
  background: var(--orange);
  border: none;
  border-radius: 0.625rem;
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btnPrimary:hover {
  background: var(--orange-light);
}

.mainImage img {
  width: 28.125rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 1.25rem #00000015;
}

.benefits {
  padding: 5.625rem 3.125rem;
  background: #f1f5f9;
  text-align: center;
}

.benefits h2 {
  font-size: 2rem;
  margin-bottom: 2.813rem;
  color: var(--blue-dark);
}

.cards {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
}

.card {
  background: var(--white);
  padding: 1.875rem;
  width: 18.75rem;
  border-radius: 0.875rem;
  box-shadow: 0 0.5rem 1.375rem #00000012;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-0.313rem);
}

.card h3 {
  font-size: 1.375rem;
  color: var(--blue);
  margin-bottom: 0.625rem;
}

.card p {
  color: var(--text-light);
  font-size: 1rem;
}

.cta {
  padding: 1.4rem;
  background-image: url("images/Screenshot From 2025-12-04 16-02-13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 31.25rem;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--white);
  flex-direction: column;
  width: 100%;
  margin-bottom: 6rem;
  margin-top: 4rem;
}

.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.cta * {
  position: relative;
  z-index: 2;
}

.cta .title {
  color: var(--white);
  margin-bottom: 1.25rem;
}

.cta .btnPrimary {
  background: var(--orange);
  color: var(--white);
}

.cta .btnPrimary:hover {
  background: var(--orange-light);
}

footer {
  padding: 1.563rem 0;
  background: var(--blue-dark);
  text-align: center;
  color: var(--white);
  margin-top: 2.5rem;
}

@media (max-width: 56.25rem) {
  .containerOne {
    flex-direction: column;
    text-align: center;
  }

  .mainImage img {
    width: 100%;
    max-width: 21.875rem;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .topBar {
    padding: 1.25rem;
  }

  .links {
    gap: 0.938rem;
  }
}

.location {
  margin-top: 3rem;
  width: 23rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.adress {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.4rem;
}

.imgLogo {
  display: flex;
  width: 5rem;
}

.developBy {
  margin-top: 0.5rem;
  color: var(--white);
}

.carousel {
  width: 80%;
  max-width: 600px;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.icon {
  width: 2rem;
  cursor: pointer;
  transition: transform 0.4s;
}

.icon:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
}
